.mainApp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .columns {
    display: flex;
    width: 100%;
    justify-content: center;

    .people {
      display: flex;
      flex-direction: column;
      background: white;
      overflow-y: auto;
      margin-top: 100px;
      margin: 25px;
      width: 202px;
      transition: 0.5s;

      .userBlock {
        display: flex;
        border-radius: 5px;
        margin-bottom: 8px;
        padding: 5px;
        transition: 0.5s;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 8px 6px -6px rgb(82, 82, 82);

        h1 {
          color: white;
          font-size: 1em;
          margin: 4px;
          padding: 0;
        }
      }
    }
  }
}
