.mainApp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .columns {
    display: flex;
    width: 100%;
    justify-content: center;

    .people {
      display: flex;
      flex-direction: column;
      background: white;
      overflow-y: auto;
      margin-top: 100px;
      margin: 25px;
      width: 202px;
      transition: 0.5s;

      // list title
      h2 {
        font-size: 1em;
        color: rgba(0, 0, 0, 0.671);
        margin: 0 auto;
        margin-bottom: 10px;
      }

      // each user/erson instance block
      .userBlock {
        display: flex;
        border-radius: 5px;
        margin-bottom: 8px;
        padding: 5px;
        transition: 0.5s;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 8px 6px -6px rgb(82, 82, 82);

        h1 {
          color: white;
          font-size: 1em;
          margin: 4px;
          padding: 0;
        }

        // main modal for each user
        .modal {
          position: fixed;
          z-index: 4;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          transition: opacity 0.5s;
          opacity: 1;
        }

        // modal when invisible
        .modal.hide {
          opacity: 0;
          pointer-events: none;
        }

        // backdrop for each person/user modal card
        .grayedBackdrop {
          display: block;
          position: fixed;
          left: 0;
          top: 0;
          z-index: 9999;
          width: 100%;
          height: 100%;
          padding-top: 100px;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          -webkit-transition: 0.5s;
          overflow: auto;
          transition: all 0.3s linear;

          .modalBlock {
            width: 400px;
            background: #161731;
            border: solid rgba(255, 255, 255, 0.671) 3px;
            letter-spacing: 1px;
            border-radius: 5px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 10px 10px 52px -4px rgba(0, 0, 0, 0.75);

            h1 {
              margin: 0;
              padding: 0;
            }

            #idtext {
              font-size: 2.5em;
            }

            #nametext {
              font-size: 2em;
              background: #3234698f;
              padding: 5px 15px;
              border-radius: 3px;
            }

            #companytext {
              font-size: 1.4em;
              padding: 5px;
            }

            #emailtext {
              font-size: 1.1em;
              padding: 5px;
            }

            .address {
              background: #4d50a0;
              color: white;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              width: 100%;
              margin: 5px;
              padding: 5px 0;

              h1 {
                margin: 0;
                padding: 0;
              }
            }

            #phonetext {
              padding: 5px;
              margin: 5px;
            }
          }
        }
      }

      .userBlock.hide {
        opacity: 0;
        pointer-events: none;
      }

      .userBlock:hover {
        box-shadow: none;
        transition: 0.5s;
      }
    }
  }

  // title styling
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5e63e4;

    h1 {
      margin: 0;
      margin-bottom: -15px;
      padding: 0;
      font-size: 3.6em;
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 3.7em;
      margin-top: -19px;
    }

    h4 {
      margin: 0;
      padding: 0;
      font-size: 0.7em;
    }
  }

  // filter button
  #filter {
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(75, 159, 255);
    color: white;
    border: solid rgb(75, 159, 255) 3px;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 15px;
    font-size: 0.8em;
    letter-spacing: 1px;
    transition: 0.5s;
  }

  #filter:hover {
    border: solid rgb(144, 238, 238) 3px;
    transition: 0.5s;
    opacity: 0.8;
  }

  // reset button
  #reset {
    border: none;
    outline: none;
    cursor: pointer;
    background: red;
    color: white;
    border: solid red 3px;
    border-radius: 3px;
    padding: 3px 10px;
    margin-top: 15px;
    font-size: 0.5em;
    letter-spacing: 1px;
    transition: 0.5s;
  }

  #reset:hover {
    border: solid rgb(246, 123, 123) 3px;
    transition: 0.5s;
    opacity: 0.8;
  }
}
